In [118]:
import pandas as pd
import numpy as np

dat = pd.read_excel('ConcessionSalesData_ForClass.xlsx')
dat.head(5)

,food_game,UserID,UseCount,revenue,game_week,special_discount,special_item,FAMILYGROUPNAME,Master_Item,MENUITEMNAME,...,first_week_discount,Discount_HotDog,Discount_SouvCup,Discount_BtlWater,Discount_Peanuts,Discount_Nachos,Discount_Pretzel,Discount_Popcorn,sth_rev_game,total_product_rev_nonSTH
0,BAG PEANUTS_Game 1,3304107,1,4.726207,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411
1,BAG PEANUTS_Game 1,3405989,1,4.730000,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411
2,BAG PEANUTS_Game 1,3302989,1,4.730000,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411
3,BAG PEANUTS_Game 1,3253641,1,4.567500,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411
4,BAG PEANUTS_Game 1,3315665,1,4.726615,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411

## Assumptions

- Customer spending habits differ by game, so we must control for it
- Assume that the average pricepoint for an item in each game is the weighted average of all actual prices, weighted by the demand.
- Assume the occurence of discounts on 1 item does not depend on occurence of discounts of another item

## Separate Items

In [119]:
dat['MENUITEMNAME'].unique()

array(['BAG PEANUTS', 'BAVARIAN PRETZEL', 'BRATWURST', 'BTL DEJA BLUE 1L',
       'BTL DEJA BLUE', 'BURG CHS', 'BURG VEGGIE', 'CHICAGO DOG',
       'CHIX TENDER BSKT', 'COFFEE 12', 'FRIES BSKT', 'HOT DOG',
       'NACHOS SUPREME', 'NACHOS', 'POPCORN SML', 'SAND ITLIAN BEEF',
       'SAUSAGE ITALIAN', 'SAUSAGE POLISH', 'SD CHEESE CUP',
       'SLC PIZ CHEESE', 'SLC PIZ PEPPRNI', 'SLC PIZ SAUSAGE',
       'SODA CUP 16', 'SOUV CUP 32', 'SOUV POPCORN'], dtype=object)

### Peanuts

In [29]:
peanuts = dat.loc[dat['MENUITEMNAME'] == 'BAG PEANUTS', :]
peanuts.head(5)

,food_game,UserID,UseCount,revenue,game_week,special_discount,special_item,FAMILYGROUPNAME,Master_Item,MENUITEMNAME,...,first_week_discount,Discount_HotDog,Discount_SouvCup,Discount_BtlWater,Discount_Peanuts,Discount_Nachos,Discount_Pretzel,Discount_Popcorn,sth_rev_game,total_product_rev_nonSTH
0,BAG PEANUTS_Game 1,3304107,1,4.726207,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411
1,BAG PEANUTS_Game 1,3405989,1,4.730000,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411
2,BAG PEANUTS_Game 1,3302989,1,4.730000,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411
3,BAG PEANUTS_Game 1,3253641,1,4.567500,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411
4,BAG PEANUTS_Game 1,3315665,1,4.726615,Game 1,STH Discount Only,Yes,SNACKS,20500003,BAG PEANUTS,...,No Discount,Yes,No,Yes,No,No,No,No,16441.58141,15296.65411

In [86]:
peanuts.columns

Index(['food_game', 'UserID', 'UseCount', 'revenue', 'game_week',
       'special_discount', 'special_item', 'FAMILYGROUPNAME', 'Master_Item',
       'MENUITEMNAME', 'PRICES', 'actual_discount', 'actual_price',
       'Discount Type', 'Discount Percentage', 'first_week_discount',
       'Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn', 'sth_rev_game', 'total_product_rev_nonSTH'],
      dtype='object')

In [54]:
# Weight prices according to their demand.
# Prices for CL are siginificantly lower than GA / STH
# However the number of CL is also significantly lower than GA / STH
# We want to weight each actual price by the demand of item at that price point
# This negates the class imbalance issues

weights = peanuts.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
weights['weighted_sums'] = weights['UseCount'] * weights['actual_price']
weights['uc2'] = weights['UseCount'] ** 2
weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()
weights['weighted_actual_price'] = weights['weighted_sums'] / weights['uc2']
demand = peanuts.groupby(by = ['game_week'])['UseCount'].sum(numeric_only=True).reset_index()
peanut_demand_price = pd.merge(left = weights, right = demand, on = 'game_week')
peanut_demand_price.drop(labels=['weighted_sums', 'uc2'], axis = 1, inplace=True)

/tmp/ipykernel_415796/394097943.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = peanuts.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
/tmp/ipykernel_415796/394097943.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()

In [67]:
peanut_demand_price_controlled = pd.merge(left=peanut_demand_price, right=peanuts.loc[:, ['game_week', 'Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']], on = 'game_week', how = 'left').drop_duplicates('game_week')

In [95]:
peanut_demand_price_controlled

,game_week,weighted_actual_price,UseCount,Discount_HotDog,Discount_SouvCup,Discount_BtlWater,Discount_Peanuts,Discount_Nachos,Discount_Pretzel,Discount_Popcorn
0,Game 1,4.639045,105,Yes,No,Yes,No,No,No,No
105,Game 2,2.420455,176,No,No,No,Yes,Yes,No,No
267,Game 3,4.640434,94,No,Yes,No,No,No,Yes,No
361,Game 4,4.649035,105,Yes,No,Yes,No,No,No,No
466,Game 5,4.646859,66,No,Yes,No,No,No,No,Yes
532,Game 6,4.630899,73,No,No,Yes,No,No,Yes,No
605,Game 7,4.651225,41,Yes,Yes,No,No,No,No,No
646,Game 8,4.553264,58,Yes,Yes,Yes,No,No,No,Yes

In [83]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_peanut = pd.get_dummies(peanut_demand_price_controlled, columns=['game_week'])

df_peanut.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']] = df_peanut.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']].apply(le.fit_transform)

df_peanut['weighted_actual_price'] = np.log(df_peanut['weighted_actual_price'])
df_peanut['UseCount'] = np.log(df_peanut['UseCount'])

/tmp/ipykernel_415796/2492016641.py:6: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_peanut.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',

In [84]:
df_peanut

,weighted_actual_price,UseCount,Discount_HotDog,Discount_SouvCup,Discount_BtlWater,Discount_Peanuts,Discount_Nachos,Discount_Pretzel,Discount_Popcorn,game_week_Game 1,game_week_Game 2,game_week_Game 3,game_week_Game 4,game_week_Game 5,game_week_Game 6,game_week_Game 7,game_week_Game 8
0,1.534509,4.653960,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0
105,0.883955,5.170484,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0
267,1.534808,4.543295,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
361,1.536660,4.653960,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0
466,1.536191,4.189655,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
532,1.532751,4.290459,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0
605,1.537131,3.713572,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0
646,1.515844,4.060443,1,1,1,0,0,0,1,0,0,0,0,0,0,0,1

### Modeling

In [93]:
import statsmodels.api as sm

X = df_peanut.drop(labels='UseCount', axis = 1)
X = sm.add_constant(X)
y = df_peanut['UseCount']

m_peanut = sm.OLS(y, X).fit()
print('Price elasticity for peanuts is', m_peanut.params[1])

Price elasticity for peanuts is 1.627266635999568

### BAVARIAN PRETZEL

In [96]:
bav_pret = dat.loc[dat['MENUITEMNAME'] == 'BAVARIAN PRETZEL', :]
weights = bav_pret.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
weights['weighted_sums'] = weights['UseCount'] * weights['actual_price']
weights['uc2'] = weights['UseCount'] ** 2
weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()
weights['weighted_actual_price'] = weights['weighted_sums'] / weights['uc2']

demand = bav_pret.groupby(by = ['game_week'])['UseCount'].sum(numeric_only=True).reset_index()
bav_demand_price = pd.merge(left = weights, right = demand, on = 'game_week')
bav_demand_price.drop(labels=['weighted_sums', 'uc2'], axis = 1, inplace=True)

/tmp/ipykernel_415796/1977431129.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = bav_pret.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
/tmp/ipykernel_415796/1977431129.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()

In [97]:
bav_demand_price_controlled = pd.merge(left=bav_demand_price, right=bav_pret.loc[:, ['game_week', 'Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']], on = 'game_week', how = 'left').drop_duplicates('game_week')

le = LabelEncoder()
df_bav = pd.get_dummies(bav_demand_price_controlled, columns=['game_week'])

df_bav.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']] = df_bav.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']].apply(le.fit_transform)

df_bav['weighted_actual_price'] = np.log(df_bav['weighted_actual_price'])
df_bav['UseCount'] = np.log(df_bav['UseCount'])

/tmp/ipykernel_415796/2718277997.py:8: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_bav.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',

In [98]:
X = df_bav.drop(labels='UseCount', axis = 1)
X = sm.add_constant(X)
y = df_bav['UseCount']

m_bav = sm.OLS(y, X).fit()
print('Price elasticity for bavarian pretzels is', m_bav.params[1])

Price elasticity for bavarian pretzels is 1.6554631585823436

### Nachos

In [100]:
nacho = dat.loc[dat['MENUITEMNAME'] == 'NACHOS', :]
weights = nacho.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
weights['weighted_sums'] = weights['UseCount'] * weights['actual_price']
weights['uc2'] = weights['UseCount'] ** 2
weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()
weights['weighted_actual_price'] = weights['weighted_sums'] / weights['uc2']

demand = nacho.groupby(by = ['game_week'])['UseCount'].sum(numeric_only=True).reset_index()
nacho_demand_price = pd.merge(left = weights, right = demand, on = 'game_week')
nacho_demand_price.drop(labels=['weighted_sums', 'uc2'], axis = 1, inplace=True)

/tmp/ipykernel_415796/3669065834.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = nacho.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
/tmp/ipykernel_415796/3669065834.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()

In [103]:
nacho_demand_price_controlled = pd.merge(left=nacho_demand_price, right=nacho.loc[:, ['game_week', 'Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']], on = 'game_week', how = 'left').drop_duplicates('game_week')

le = LabelEncoder()
df_nacho = pd.get_dummies(nacho_demand_price_controlled, columns=['game_week'])

df_nacho.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']] = df_nacho.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']].apply(le.fit_transform)

df_nacho['weighted_actual_price'] = np.log(df_nacho['weighted_actual_price'])
df_nacho['UseCount'] = np.log(df_nacho['UseCount'])

/tmp/ipykernel_415796/1195458259.py:8: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_nacho.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',

In [104]:
X = df_nacho.drop(labels='UseCount', axis = 1)
X = sm.add_constant(X)
y = df_nacho['UseCount']

m_nacho = sm.OLS(y, X).fit()
print('Price elasticity for nachos is', m_nacho.params[1])

Price elasticity for nachos is 1.2932093146251684

### Souv Pop

In [105]:
souv_pop = dat.loc[dat['MENUITEMNAME'] == 'SOUV POPCORN', :]
weights = souv_pop.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
weights['weighted_sums'] = weights['UseCount'] * weights['actual_price']
weights['uc2'] = weights['UseCount'] ** 2
weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()
weights['weighted_actual_price'] = weights['weighted_sums'] / weights['uc2']

demand = souv_pop.groupby(by = ['game_week'])['UseCount'].sum(numeric_only=True).reset_index()
souv_pop_demand_price = pd.merge(left = weights, right = demand, on = 'game_week')
souv_pop_demand_price.drop(labels=['weighted_sums', 'uc2'], axis = 1, inplace=True)

/tmp/ipykernel_415796/1430224477.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = souv_pop.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
/tmp/ipykernel_415796/1430224477.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()

In [106]:
souv_pop_demand_price_controlled = pd.merge(left=souv_pop_demand_price, right=souv_pop.loc[:, ['game_week', 'Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']], on = 'game_week', how = 'left').drop_duplicates('game_week')

le = LabelEncoder()
df_souv_pop = pd.get_dummies(souv_pop_demand_price_controlled, columns=['game_week'])

df_souv_pop.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']] = df_souv_pop.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']].apply(le.fit_transform)

df_souv_pop['weighted_actual_price'] = np.log(df_souv_pop['weighted_actual_price'])
df_souv_pop['UseCount'] = np.log(df_souv_pop['UseCount'])

/tmp/ipykernel_415796/409580849.py:8: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_souv_pop.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',

In [107]:
X = df_souv_pop.drop(labels='UseCount', axis = 1)
X = sm.add_constant(X)
y = df_souv_pop['UseCount']

m_souv_pop = sm.OLS(y, X).fit()
print('Price elasticity for souvenir popcorn is', m_souv_pop.params[1])

Price elasticity for souvenir popcorn is 0.9196297575528346

### Hot Dog

In [108]:
hotdog = dat.loc[dat['MENUITEMNAME'] == 'HOT DOG', :]
weights = hotdog.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
weights['weighted_sums'] = weights['UseCount'] * weights['actual_price']
weights['uc2'] = weights['UseCount'] ** 2
weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()
weights['weighted_actual_price'] = weights['weighted_sums'] / weights['uc2']

demand = hotdog.groupby(by = ['game_week'])['UseCount'].sum(numeric_only=True).reset_index()
hotdog_demand_price = pd.merge(left = weights, right = demand, on = 'game_week')
hotdog_demand_price.drop(labels=['weighted_sums', 'uc2'], axis = 1, inplace=True)

/tmp/ipykernel_415796/3883914336.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = hotdog.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
/tmp/ipykernel_415796/3883914336.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()

In [109]:
hotdog_demand_price_controlled = pd.merge(left=hotdog_demand_price, right=hotdog.loc[:, ['game_week', 'Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']], on = 'game_week', how = 'left').drop_duplicates('game_week')

le = LabelEncoder()
df_hotdog = pd.get_dummies(hotdog_demand_price_controlled, columns=['game_week'])

df_hotdog.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']] = df_hotdog.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']].apply(le.fit_transform)

df_hotdog['weighted_actual_price'] = np.log(df_hotdog['weighted_actual_price'])
df_hotdog['UseCount'] = np.log(df_hotdog['UseCount'])

/tmp/ipykernel_415796/781934360.py:8: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_hotdog.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',

In [110]:
X = df_hotdog.drop(labels='UseCount', axis = 1)
X = sm.add_constant(X)
y = df_hotdog['UseCount']

m_hotdog = sm.OLS(y, X).fit()
print('Price elasticity for hot dog is', m_hotdog.params[1])

Price elasticity for hot dog is 1.3294447595196361

### Bottled Water (non 1L)

In [111]:
btlwater = dat.loc[dat['MENUITEMNAME'] == 'BTL DEJA BLUE', :]
weights = btlwater.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
weights['weighted_sums'] = weights['UseCount'] * weights['actual_price']
weights['uc2'] = weights['UseCount'] ** 2
weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()
weights['weighted_actual_price'] = weights['weighted_sums'] / weights['uc2']

demand = btlwater.groupby(by = ['game_week'])['UseCount'].sum(numeric_only=True).reset_index()
btlwater_demand_price = pd.merge(left = weights, right = demand, on = 'game_week')
btlwater_demand_price.drop(labels=['weighted_sums', 'uc2'], axis = 1, inplace=True)

/tmp/ipykernel_415796/3487976040.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = btlwater.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
/tmp/ipykernel_415796/3487976040.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()

In [112]:
btlwater_demand_price_controlled = pd.merge(left=btlwater_demand_price, right=btlwater.loc[:, ['game_week', 'Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']], on = 'game_week', how = 'left').drop_duplicates('game_week')

le = LabelEncoder()
df_btlwater = pd.get_dummies(btlwater_demand_price_controlled, columns=['game_week'])

df_btlwater.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']] = df_btlwater.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']].apply(le.fit_transform)

df_btlwater['weighted_actual_price'] = np.log(df_btlwater['weighted_actual_price'])
df_btlwater['UseCount'] = np.log(df_btlwater['UseCount'])

/tmp/ipykernel_415796/244546155.py:8: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_btlwater.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',

In [113]:
X = df_btlwater.drop(labels='UseCount', axis = 1)
X = sm.add_constant(X)
y = df_btlwater['UseCount']

m_btlwater = sm.OLS(y, X).fit()
print('Price elasticity for bottled water is', m_btlwater.params[1])

Price elasticity for bottled water is 1.795078309579582

### Souvenir Soda (32 oz)

In [114]:
souv_soda = dat.loc[dat['MENUITEMNAME'] == 'SOUV CUP 32', :]
weights = souv_soda.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
weights['weighted_sums'] = weights['UseCount'] * weights['actual_price']
weights['uc2'] = weights['UseCount'] ** 2
weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()
weights['weighted_actual_price'] = weights['weighted_sums'] / weights['uc2']

demand = souv_soda.groupby(by = ['game_week'])['UseCount'].sum(numeric_only=True).reset_index()
souv_soda_demand_price = pd.merge(left = weights, right = demand, on = 'game_week')
souv_soda_demand_price.drop(labels=['weighted_sums', 'uc2'], axis = 1, inplace=True)

/tmp/ipykernel_415796/3570251779.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = souv_soda.groupby(by = ['game_week', 'Discount Type'])['UseCount', 'actual_price'].sum(numeric_only=True).reset_index()
/tmp/ipykernel_415796/3570251779.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weights = weights.groupby(by = ['game_week'])['weighted_sums', 'uc2'].sum().reset_index()

In [115]:
souv_soda_demand_price_controlled = pd.merge(left=souv_soda_demand_price, right=souv_soda.loc[:, ['game_week', 'Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']], on = 'game_week', how = 'left').drop_duplicates('game_week')

le = LabelEncoder()
df_souv_soda = pd.get_dummies(souv_soda_demand_price_controlled, columns=['game_week'])

df_souv_soda.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']] = df_souv_soda.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',
       'Discount_Peanuts', 'Discount_Nachos', 'Discount_Pretzel',
       'Discount_Popcorn']].apply(le.fit_transform)

df_souv_soda['weighted_actual_price'] = np.log(df_souv_soda['weighted_actual_price'])
df_souv_soda['UseCount'] = np.log(df_souv_soda['UseCount'])

/tmp/ipykernel_415796/111283277.py:8: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_souv_soda.loc[:, ['Discount_HotDog', 'Discount_SouvCup', 'Discount_BtlWater',

In [116]:
X = df_souv_soda.drop(labels='UseCount', axis = 1)
X = sm.add_constant(X)
y = df_souv_soda['UseCount']

m_souv_soda = sm.OLS(y, X).fit()
print('Price elasticity for bottled water is', m_souv_soda.params[1])

Price elasticity for bottled water is 1.8596246211141163

array(['BAG PEANUTS', 'BAVARIAN PRETZEL', 'BRATWURST', 'BTL DEJA BLUE 1L',
       'BTL DEJA BLUE', 'BURG CHS', 'BURG VEGGIE', 'CHICAGO DOG',
       'CHIX TENDER BSKT', 'COFFEE 12', 'FRIES BSKT', 'HOT DOG',
       'NACHOS SUPREME', 'NACHOS', 'POPCORN SML', 'SAND ITLIAN BEEF',
       'SAUSAGE ITALIAN', 'SAUSAGE POLISH', 'SD CHEESE CUP',
       'SLC PIZ CHEESE', 'SLC PIZ PEPPRNI', 'SLC PIZ SAUSAGE',
       'SODA CUP 16', 'SOUV CUP 32', 'SOUV POPCORN'], dtype=object)